@import 'reset.css';

body {
	margin: 0;
	background-color: #f5f5f5;
}

.view {
	width: 390px;
	margin: 0 auto;
	background-color: #ffffff;
}

.topBar {
	width: 390px;
	height: 115px;
	background-image: url(../img/createTopImg.svg);
	margin: 0 0 40px;
	padding: 10px;
	box-sizing: border-box;
}

#title {
	margin: 0;
}

.Title {
	width: 179px;
	height: 31px;
	background-color: #e9fbff;
	border-radius: 0 30px 30px 0;
	box-sizing: border-box;
	padding: 7px 7px 7px 70px;
	margin: 10px 0;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
}

#ps {
	margin: 10px 40px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	color: #9e9e9e;
}

.subTitle {
	margin: 10px 10px 0px 40px;
	display: flex;
	align-items: center;
}

.subTitle1 {
	margin: 10px 10px 0px 40px;
	display: flex;
}

#index {
	white-space: nowrap;
	margin-right: 5px;

	font-family: 'Inter';
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
}

.tagBtn {
	background: #ffffff;
	border: 1px solid #cfedf3;
	border-radius: 10px;
	padding: 5px 7px;
	gap: 5px;

	font-family: 'Inter';
	font-weight: 500;
	font-size: 10px;
	color: #676767;
}

input {
	border: 1px solid #cfedf3;
	border-radius: 5px;
	padding: 0;
	box-sizing: border-box;
}

textarea {
	border: 1px solid #cfedf3;
	border-radius: 5px;
	padding: 5px;
	box-sizing: border-box;
	width: 263px;
	margin: 0;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
}

textarea ::placeholder {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	color: #b7b7b7;
}

#weather {
	margin-left: 105px;
	width: 263px;
	height: 65px;
}

#temp1 {
	height: 21px;
}

#temp2 {
	margin-left: 105px;
	height: 65px;
}

#microDust {
	margin-left: 105px;
	height: 48px;
}

#tmi {
	height: 65px;
	margin-top: 10px;
}

.clothesTag {
	height: 21px;
}

.archiveTag {
	height: 21px;
}

#bar1 {
	margin-left: 21px;
}

#bar2 {
	margin-left: 8px;
}

.left1 {
	margin-left: 105px;
}

.left2 {
	margin-left: 105px;
}
