@import 'reset.css';

* {
	margin: 0;
}

body {
	margin: 0;
	background-color: #f5f5f5;
}

.view {
	width: 390px;
	margin: 0 auto;
	background-color: #ffffff;
	box-sizing: border-box;
}

.topBar {
	display: flex;
	position: relative;
	margin: 20px 10px;
	margin-top: 0;
	padding: 10px;
}

#title {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
}

.backBtn {
	border: none;
	background-color: #ffffff;
}

#name {
	position: absolute;
	right: 0;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
}

.profileBox {
	display: flex;
	margin: 10px;
	box-sizing: border-box;
	align-items: center;
}

#profileName {
	margin-left: 10px;

	font-family: 'Inter';
	font-weight: 500;
	font-size: 14px;
	text-align: center;
}

.tagBox {
	display: flex;
	margin: 10px;
	gap: 5px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
}

#commentTag {
	color: #787878;
}

#clothesTypeTag {
	color: rgba(238, 149, 45, 1);
}

.Title {
	width: 151px;
	height: 31px;
	background-color: #e9fbff;
	border-radius: 0 30px 30px 0;
	box-sizing: border-box;
	padding: 5px 5px 5px 40px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
}

.ContentTitle {
	margin: 10px 20px 05px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
}

.ContentExplain {
	margin: 0px 20px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
}

.detailBtn {
	margin: 10px 20px;

	background: #ffffff;
	border: 1px solid #d3d3d3;
	border-radius: 10px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 9px;
	color: #898989;
}
